/* CSS file */
* {
  font-family: sans-serif;
}
body {
  border: solid black 1px;
}
header {
  position:fixed;
  height: 50px;
}
.nav-link {
  padding:20px;
  margin:20px;
}
#link-1, #link-2, #link-3, #link-4 {
  border: solid 5px red;
  height: 60px;
}
#container-header {
  display: flex;
  flex-direction: row;
}
#link-3 > div {
  border: solid 2px black;
  height: 60%;
}
#header-img {
  width: 20%;
}
@media only screen and (max-width: 480px) {
  body {
  width: 45%;
  }
}
img, nav {
  margin:0;
}
