/* CSS file */
* {
  font-family: sans-serif;
}
#header {
  position:fixed;
  height: 1.2rem;
}
#header > img {
  width: 20%;
}
#link1 {
  padding-top: 50px;
  margin: 200px;
}
.nav-link {
  padding:20px;
  margin:20px;
}
section {
  padding-bottom:100px;
}
